@import '../../styles/Variables.scss';

.input {
  @include largeText;
  padding: 9.5px;
  border-radius: 5px;
  border: 1px solid $primary;
  margin-top: 0.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @include standardText;
}